* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@media (max-width: 767px) {
  header {
    background-color: #26163F;
    height: auto;
  }
  header nav div a {
    padding: 30px;
  }
  header nav div a img {
    width: 60px;
    height: 45px;
  }
  header nav div button .menu-ham {
    background-image: url(/Archivos/Iconos-card-uno/menu-hamburguesa.png);
  }
  header nav div .menu {
    padding-top: 10px;
  }
  header nav div .menu ul {
    gap: 10px;
  }
  header nav div .menu ul .nav-item {
    list-style-type: none;
  }
  header nav div .menu ul .nav-item a {
    padding: 0;
    font-size: 15px;
    font-weight: 650;
    line-height: 18px;
    letter-spacing: 0.08em;
    color: #ECF8F9;
    text-align: left;
  }
  header .imagenCentral {
    padding: 0;
    background-image: url(/Archivos/Logo-Imagen-central/imagen-header.jpg);
    background-size: cover;
    background-position: center;
    color: #ECF8F9;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .imagenCentral .primeraParte {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  header .imagenCentral .primeraParte h1 {
    padding: 0;
    font-size: 18px;
    font-weight: 400;
  }
  header .imagenCentral .primeraParte h2 {
    font-size: 18px;
    font-weight: 400;
  }
  header .imagenCentral .segundaParte {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  header .imagenCentral .segundaParte .subrayado {
    font-size: 30px;
    font-weight: 900;
    line-height: 35px;
    text-align: center;
    padding: 0;
    width: 70%;
  }
  header .imagenCentral .segundaParte .subrayado span {
    text-decoration: underline #E55807 10px;
  }
  header .imagenCentral .segundaParte p {
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
  }
  header .imagenCentral .deltaArriba {
    display: none;
  }
  header .imagenCentral .deltaAbajo {
    display: none;
  }
}
@media (max-width: 767px) {
  footer {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #26163F;
    height: 100%;
    color: #ECF8F9;
  }
  footer .imagenLogo {
    width: 90px;
    height: 75px;
  }
  footer .iconosFooter ul {
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding: 0;
  }
  footer .iconosFooter ul li {
    padding: 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 18.4px;
    list-style-type: none;
    padding-top: 20px;
  }
  footer .iconosFooter ul li img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header {
    background-color: #26163F;
    height: auto;
    font-family: "League Spartan";
  }
  header nav div a {
    padding: 50px;
  }
  header nav div a img {
    width: 70px;
    height: 60px;
  }
  header nav div button .menu-ham {
    background-image: url(/Archivos/Iconos-card-uno/menu-hamburguesa.png);
  }
  header nav div .menu {
    padding-top: 25px;
    flex-grow: 0;
  }
  header nav div .menu ul {
    gap: 10px;
  }
  header nav div .menu ul .nav-item {
    list-style-type: none;
  }
  header nav div .menu ul .nav-item a {
    padding: 0;
    font-size: 19px;
    font-weight: 650;
    line-height: 25px;
    letter-spacing: 0.08em;
    color: #ECF8F9;
    text-align: left;
  }
  header .imagenCentral {
    padding: 0;
    background-image: url(/Archivos/Logo-Imagen-central/imagen-header.jpg);
    background-size: cover;
    background-position: center;
    color: #ECF8F9;
    padding-left: 20px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  header .imagenCentral .primeraParte {
    display: flex;
    flex-direction: column;
  }
  header .imagenCentral .primeraParte h1 {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
  }
  header .imagenCentral .primeraParte h2 {
    font-size: 25px;
    text-align: center;
    font-weight: 400;
  }
  header .imagenCentral .segundaParte {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  header .imagenCentral .segundaParte .subrayado {
    font-size: 65px;
    font-weight: 900;
    line-height: 60px;
    text-align: center;
    width: 80%;
    padding: 0;
  }
  header .imagenCentral .segundaParte .subrayado span {
    text-decoration: underline #E55807 15px;
  }
  header .imagenCentral .segundaParte p {
    padding: 0;
    font-size: 35px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    width: 80%;
  }
  header .imagenCentral .deltaArriba {
    display: none;
  }
  header .imagenCentral .deltaAbajo {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  footer {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #26163F;
    height: 100%;
    color: #ECF8F9;
    padding-bottom: 10px;
  }
  footer .imagenLogo {
    width: 140px;
    height: 115px;
  }
  footer .iconosFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  footer .iconosFooter ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: normal;
    padding: 0;
  }
  footer .iconosFooter ul li {
    padding: 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 18.4px;
    list-style-type: none;
    padding-top: 20px;
  }
  footer .iconosFooter ul li img {
    width: 45px;
    height: 45px;
    margin-right: 8px;
  }
}
@media (min-width: 992px) {
  header {
    background-color: #26163F;
    height: auto;
  }
  header nav div a {
    padding: 40px;
  }
  header nav div a img {
    width: 93px;
    height: 77px;
  }
  header nav div button .menu-ham {
    background-image: url(/Archivos/Iconos-card-uno/menu-hamburguesa.png);
  }
  header nav div .menu {
    flex-grow: 0;
  }
  header nav div .menu ul {
    gap: 30px;
  }
  header nav div .menu ul .nav-item {
    list-style-type: none;
    gap: 20px;
  }
  header nav div .menu ul .nav-item a {
    padding: 0;
    font-size: 19px;
    font-weight: 650;
    color: #ECF8F9;
    display: inline;
  }
  header .imagenCentral {
    padding: 0;
    background-image: url(/Archivos/Logo-Imagen-central/imagen-header.jpg);
    background-size: cover;
    background-position: center;
    color: #ECF8F9;
    padding-left: 20px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  header .imagenCentral .primeraParte {
    display: flex;
    flex-direction: column;
  }
  header .imagenCentral .primeraParte h1 {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
  }
  header .imagenCentral .primeraParte h2 {
    font-size: 28px;
    text-align: center;
    font-weight: 400;
  }
  header .imagenCentral .segundaParte {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  header .imagenCentral .segundaParte .subrayado {
    font-size: 68px;
    font-weight: 900;
    line-height: 70px;
    text-align: center;
    width: 70%;
    padding: 0;
  }
  header .imagenCentral .segundaParte .subrayado span {
    text-decoration: underline #E55807 15px;
  }
  header .imagenCentral .segundaParte p {
    padding: 0;
    font-size: 35px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    width: 50%;
  }
  header .imagenCentral .deltaArriba {
    font-size: 128px;
    font-weight: 900;
    line-height: 117.76px;
    text-align: center;
    color: rgba(255, 255, 255, 0.0509803922);
    position: absolute;
    top: 100px;
    left: 0;
  }
  header .imagenCentral .deltaAbajo {
    display: none;
  }
}
@media (min-width: 992px) {
  footer {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #26163F;
    color: #ECF8F9;
    padding-bottom: 10px;
  }
  footer .imagenLogo {
    width: 120px;
    height: 100px;
  }
  footer .iconosFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  footer .iconosFooter ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  footer .iconosFooter ul li {
    padding: 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 18.4px;
    list-style-type: none;
    padding-top: 20px;
    padding-right: 50px;
  }
  footer .iconosFooter ul li img {
    width: 45px;
    height: 45px;
    margin-right: 8px;
  }
}
@media (max-width: 767px) {
  main {
    font-family: "League Spartan";
  }
  main .cards {
    padding-bottom: 100px;
    padding-top: 50px;
  }
  main .cards .cardTotal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  main .cards .cardTotal div {
    width: 90%;
    height: 100%;
    border-radius: 18px;
    opacity: 0px;
    background-color: #0766AD;
    color: #ECF8F9;
    position: relative;
  }
  main .cards .cardTotal div .cardImagen {
    width: 72px;
    height: 72px;
    left: 20px;
    top: 15px;
    position: absolute;
  }
  main .cards .cardTotal div h2 {
    width: 100%;
    margin-left: 5px;
    padding-top: 100px;
    font-size: 24px;
    font-weight: 700;
    line-height: 27.6px;
    text-align: left;
    margin-left: 10px;
  }
  main .cards .cardTotal div p {
    width: 95%;
    height: 95%;
    font-size: 22px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    margin-left: 10px;
  }
}
@media (max-width: 767px) {
  main .diferenciales {
    color: #E55807;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .diferenciales div h3 {
    font-size: 45px;
    font-weight: 700;
    line-height: 41.4px;
    text-align: center;
    width: 100%;
  }
  main .diferenciales .imgDiferenciales {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
  }
  main .diferenciales .imgDiferenciales li {
    padding-top: 35px;
    list-style-type: none;
  }
  main .diferenciales .imgDiferenciales li img {
    width: 160px;
    height: auto;
  }
}
@media (max-width: 767px) {
  main .conocenos {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: rgb(147, 188, 219);
    height: 100%;
  }
  main .conocenos .textoConocenos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  main .conocenos .textoConocenos .texto {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  main .conocenos .textoConocenos .texto h2 {
    color: #E55807;
    font-weight: 300;
    font-size: 20px;
    line-height: 18, 4px;
    letter-spacing: 7%;
    text-align: left;
  }
  main .conocenos .textoConocenos .texto h3 {
    font-size: 50px;
    font-weight: 700;
    line-height: 46px;
    color: #E55807;
  }
  main .conocenos .textoConocenos .texto p {
    width: 90%;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    color: #0766AD;
  }
  main .conocenos .textoConocenos .texto span {
    font-weight: 700;
    font-size: 20px;
  }
  main .conocenos .seccionImagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  main .conocenos .seccionImagenes .imagenesConocenos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  main .conocenos .seccionImagenes .imagenesConocenos img {
    width: 90%;
    height: 40%;
    border-radius: 25px;
  }
  main .conocenos .seccionImagenes .parteDosImagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .conocenos .seccionImagenes .parteDosImagen .imagen {
    width: 90%;
    height: 95%;
    border-radius: 25px;
  }
}
@media (max-width: 767px) {
  main {
    font-family: "League Spartan";
  }
  main .servicios {
    color: #ECF8F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #E55807 50%, #0766AD 50%);
    padding-top: 20px;
    padding-bottom: 20px;
  }
  main .servicios h2 {
    font-size: 15px;
    font-weight: 300;
    line-height: 13.8px;
    letter-spacing: 0.07em;
    text-align: center;
    padding-bottom: 5px;
  }
  main .servicios h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 41.4px;
    text-align: center;
  }
  main .servicios .cardsOfrecimientos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  main .servicios .cardsOfrecimientos .cardFinal {
    width: 90%;
    height: 100%;
    border-radius: 18px;
    background-color: #ECF8F9;
  }
  main .servicios .cardsOfrecimientos .cardFinal div .imagenCard img {
    width: 100%;
    height: 155px;
    border-radius: 18px 18px 0px 0px;
    object-fit: cover;
  }
  main .servicios .cardsOfrecimientos .cardFinal div .textoCard {
    color: #E55807;
    padding-top: 10px;
    margin: 10px;
  }
  main .servicios .cardsOfrecimientos .cardFinal div .textoCard h3 {
    width: 95%;
    font-size: 24px;
    font-weight: 800;
    line-height: 27.6px;
    text-align: left;
  }
  main .servicios .cardsOfrecimientos .cardFinal div .textoCard p {
    width: 95%;
    height: 100%;
    font-size: 21px;
    font-weight: 400;
    line-height: 24.15px;
    text-align: left;
  }
  main .servicios .cardsOfrecimientos .cardFinal .textoHover {
    display: none;
  }
  main .servicios .cardsOfrecimientos .cardFinal .textoHoverDos {
    display: none;
  }
  main .servicios .cardsOfrecimientos .nav {
    width: 90%;
    height: auto;
    padding-top: 15px;
    background-color: rgba(27, 115, 180, 0.8);
    border-radius: 18px;
    display: flex;
    justify-content: center;
  }
  main .servicios .cardsOfrecimientos .nav .list .list__item {
    text-align: left;
    overflow: hidden;
  }
  main .servicios .cardsOfrecimientos .nav .list .list__item .list__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 10px;
    margin: 0 auto;
  }
  main .servicios .cardsOfrecimientos .nav .list .list__item .list__button .nav__link {
    font-family: "League Spartan", sans-serif;
    display: block;
    text-decoration: none;
    color: #ECF8F9;
    font-size: 20px;
    font-weight: 600;
  }
  main .servicios .cardsOfrecimientos .nav .list .list__item .list__button .listArrow {
    margin-left: auto;
    transition: transform 0.3s;
    width: 15px;
    height: 15px;
    margin-bottom: 5px;
  }
  main .servicios .cardsOfrecimientos .nav .list .list__item .list__show {
    transition: heigth 0.4s;
    height: 0;
    text-decoration: none;
  }
  main .servicios .cardsOfrecimientos .nav .list .list__item .list__show .list__Inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    padding-top: 20px;
  }
  main .servicios .cardsOfrecimientos .nav .list .list__item .list__show .list__Inside .list__Inside--Dos {
    display: flex;
  }
  main .servicios .cardsOfrecimientos .nav .list .list__item .list__show .list__Inside .nav__link {
    text-decoration: none;
    color: #ECF8F9;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    list-style-type: none;
    line-height: 20px;
    justify-content: left;
  }
  main .servicios .cardsOfrecimientos .nav .list .list__item .list__show .list__Inside .imagen {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  main .servicios .cardsOfrecimientos .nav .list .list__item .list__show .list__Inside .pepe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 99%;
  }
  main .servicios .cardsOfrecimientos .nav .list__item--click {
    cursor: pointer;
  }
  main .servicios .cardsOfrecimientos .nav .arrow .listArrow {
    transform: rotate(90deg);
  }
}
@media (max-width: 767px) {
  main .clientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  main .clientes .textoClientesUno .textoClientes {
    color: #E55807;
    font-size: 45px;
    font-weight: 700;
    line-height: 41.4px;
    text-align: center;
    width: 100%;
  }
  main .clientes .imgClientes {
    padding: 0;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .clientes .imgClientes .fila {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  main .clientes .imgClientes .fila li {
    list-style-type: none;
  }
  main .clientes .imgClientes .fila li img {
    width: 110px;
    height: cover;
  }
}
@media (max-width: 767px) {
  main .contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 50px;
  }
  main .contacto .cuerpoFormulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 665px;
    border-radius: 28px;
    background-color: #0766AD;
    color: #ECF8F9;
  }
  main .contacto .cuerpoFormulario .textoFormulario {
    width: 95%;
  }
  main .contacto .cuerpoFormulario .textoFormulario h2 {
    width: 95%;
    font-size: 45px;
    font-weight: 700;
    line-height: 41.4px;
    text-align: left;
  }
  main .contacto .cuerpoFormulario .textoFormulario p {
    width: 95%;
    top: 5965px;
    left: 35px;
  }
  main .contacto .cuerpoFormulario form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  main .contacto .cuerpoFormulario form .primeraFormulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(147, 188, 219);
    gap: 10px;
  }
  main .contacto .cuerpoFormulario form .primeraFormulario input {
    width: 280px;
    height: 43px;
    border-radius: 10px;
  }
  main .contacto .cuerpoFormulario form .intermedioFormulario input {
    width: 280px;
    height: 43px;
    border-radius: 10px;
  }
  main .contacto .cuerpoFormulario form div textarea {
    width: 280px;
    height: 144px;
    border-radius: 10px;
  }
  main .contacto .cuerpoFormulario form div .button {
    width: 280px;
    height: 43px;
    border-radius: 10px;
    background-color: #E55807;
    color: #ECF8F9;
    font-size: 20px;
    font-weight: 700;
    line-height: 18.4px;
    text-align: center;
  }
  main input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 13.8px;
    text-align: left;
    color: rgb(147, 188, 219);
    padding-left: 10px;
  }
  main textarea::placeholder {
    font-size: 17px;
    font-weight: 400;
    line-height: 13.8px;
    text-align: left;
    color: rgb(147, 188, 219);
    padding-top: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  main {
    font-family: "League Spartan";
  }
  main .cards {
    padding-bottom: 100px;
    padding-top: 50px;
  }
  main .cards .cardTotal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  main .cards .cardTotal div {
    width: 430px;
    height: 310px;
    border-radius: 18px;
    opacity: 0px;
    background-color: #0766AD;
    color: #ECF8F9;
    position: relative;
  }
  main .cards .cardTotal div .cardImagen {
    width: 80px;
    height: 80px;
    left: 30px;
    top: 25px;
    position: absolute;
  }
  main .cards .cardTotal div h2 {
    width: 100%;
    margin-left: 5px;
    padding-top: 130px;
    font-size: 28px;
    font-weight: 700;
    line-height: 27.6px;
    text-align: left;
    margin-left: 20px;
  }
  main .cards .cardTotal div p {
    width: 90%;
    height: 95%;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-left: 20px;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  main .diferenciales {
    color: #E55807;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .diferenciales div h3 {
    font-size: 55px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    width: 100%;
  }
  main .diferenciales .imgDiferenciales {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
  }
  main .diferenciales .imgDiferenciales li {
    padding-top: 35px;
    list-style-type: none;
  }
  main .diferenciales .imgDiferenciales li img {
    width: 240px;
    height: auto;
  }
  main .diferenciales .imgDiferenciales li .imagenDiferencialGrande {
    width: 260px;
    padding-left: 30px;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  main .conocenos {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: rgb(147, 188, 219);
  }
  main .conocenos .textoConocenos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  main .conocenos .textoConocenos .texto {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  main .conocenos .textoConocenos .texto h2 {
    color: #E55807;
    font-weight: 300;
    font-size: 20px;
    line-height: 18, 4px;
    letter-spacing: 7%;
    text-align: left;
  }
  main .conocenos .textoConocenos .texto h3 {
    font-size: 50px;
    font-weight: 700;
    line-height: 46px;
    color: #E55807;
  }
  main .conocenos .textoConocenos .texto p {
    width: 90%;
    font-size: 21px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    color: #0766AD;
  }
  main .conocenos .textoConocenos .texto span {
    font-weight: 700;
    font-size: 28px;
  }
  main .conocenos .seccionImagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  main .conocenos .seccionImagenes .imagenesConocenos {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  main .conocenos .seccionImagenes .imagenesConocenos img {
    width: 300px;
    height: 245px;
    border-radius: 25px;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
  }
  main .conocenos .seccionImagenes .parteDosImagen img {
    width: 300px;
    height: 510px;
    border-radius: 25px;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  main {
    font-family: "League Spartan", sans-serif;
  }
  main .servicios {
    color: #ECF8F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #E55807 50%, #0766AD 50%);
    padding-top: 50px;
    padding-bottom: 50px;
  }
  main .servicios h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 13.8px;
    letter-spacing: 0.07em;
    text-align: center;
    padding-bottom: 5px;
  }
  main .servicios h3 {
    font-family: "League Spartan", sans-serif;
    font-size: 65px;
    font-weight: 700;
    line-height: 65px;
    text-align: center;
  }
  main .servicios .cardsOfrecimientos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
  main .servicios .cardsOfrecimientos .cardFinal {
    width: 430px;
    height: 310px;
    border-radius: 18px;
    background-color: #ECF8F9;
    position: relative;
  }
  main .servicios .cardsOfrecimientos .cardFinal div .imagenCard img {
    width: 430px;
    height: 180px;
    border-radius: 18px 18px 0px 0px;
    object-fit: cover;
  }
  main .servicios .cardsOfrecimientos .cardFinal div .textoCard {
    color: #E55807;
    padding-top: 10px;
    margin: 10px;
  }
  main .servicios .cardsOfrecimientos .cardFinal div .textoCard h3 {
    width: 95%;
    font-size: 24px;
    font-weight: 800;
    line-height: 27.6px;
    text-align: left;
  }
  main .servicios .cardsOfrecimientos .cardFinal div .textoCard p {
    width: 95%;
    height: 100%;
    font-size: 21px;
    font-weight: 400;
    line-height: 24.15px;
    text-align: left;
  }
  main .servicios .cardsOfrecimientos .cardFinal .textoHover {
    display: none;
  }
  main .servicios .cardsOfrecimientos .cardFinal .textoHoverDos {
    display: none;
  }
  main .servicios .cardsOfrecimientos .nav {
    width: 430px;
    padding-top: 15px;
    background-color: rgba(27, 115, 180, 0.8);
    border-radius: 18px;
    display: flex;
    justify-content: center;
  }
  main .servicios .cardsOfrecimientos .nav .list .list__item {
    text-align: left;
    overflow: hidden;
  }
  main .servicios .cardsOfrecimientos .nav .list .list__item .list__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 25px;
    margin: 0 auto;
  }
  main .servicios .cardsOfrecimientos .nav .list .list__item .list__button .nav__link {
    font-family: "League Spartan", sans-serif;
    display: block;
    text-decoration: none;
    color: #ECF8F9;
    font-size: 24px;
    font-weight: 600;
  }
  main .servicios .cardsOfrecimientos .nav .list .list__item .list__button .listArrow {
    margin-left: auto;
    transition: transform 0.3s;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
  }
  main .servicios .cardsOfrecimientos .nav .list .list__item .list__show {
    transition: heigth 0.4s;
    height: 0;
    text-decoration: none;
  }
  main .servicios .cardsOfrecimientos .nav .list .list__item .list__show .list__Inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    padding-top: 25px;
  }
  main .servicios .cardsOfrecimientos .nav .list .list__item .list__show .list__Inside .nav__link {
    text-decoration: none;
    color: #ECF8F9;
    width: 100%;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
  }
  main .servicios .cardsOfrecimientos .nav .list .list__item .list__show .list__Inside .imagen {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
  main .servicios .cardsOfrecimientos .nav .list .list__item .list__show .list__Inside .pepe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 98%;
  }
  main .servicios .cardsOfrecimientos .nav .list__item--click {
    cursor: pointer;
  }
  main .servicios .cardsOfrecimientos .nav .arrow .listArrow {
    transform: rotate(90deg);
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  main .clientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
  main .clientes .textoClientesUno .textoClientes {
    color: #E55807;
    font-size: 55px;
    font-weight: 700;
    line-height: 41.4px;
    text-align: center;
    width: 100%;
  }
  main .clientes .imgClientes {
    padding: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .clientes .imgClientes .fila {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  main .clientes .imgClientes .fila li {
    list-style-type: none;
  }
  main .clientes .imgClientes .fila li img {
    width: 200px;
    height: cover;
  }
  main .clientes .imgClientes .fila li .imagenClientesChicas {
    width: 180px;
    height: cover;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  main .contacto {
    display: flex;
    flex-direction: "";
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 100px;
  }
  main .contacto .cuerpoFormulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 800px;
    border-radius: 28px;
    background-color: #0766AD;
    color: #ECF8F9;
  }
  main .contacto .cuerpoFormulario .textoFormulario {
    width: 95%;
  }
  main .contacto .cuerpoFormulario .textoFormulario h2 {
    width: 95%;
    font-size: 55px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
  }
  main .contacto .cuerpoFormulario .textoFormulario p {
    width: 95%;
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
  }
  main .contacto .cuerpoFormulario form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  main .contacto .cuerpoFormulario form .primeraFormulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(147, 188, 219);
    gap: 10px;
  }
  main .contacto .cuerpoFormulario form .primeraFormulario input {
    width: 500px;
    height: 45px;
    border-radius: 10px;
  }
  main .contacto .cuerpoFormulario form .intermedioFormulario input {
    width: 500px;
    height: 45px;
    border-radius: 10px;
  }
  main .contacto .cuerpoFormulario form div textarea {
    width: 500px;
    height: 150px;
    border-radius: 10px;
  }
  main .contacto .cuerpoFormulario form div .button {
    width: 300px;
    height: 45px;
    border-radius: 10px;
    background-color: #E55807;
    color: #ECF8F9;
    font-size: 20px;
    font-weight: 700;
    line-height: 18.4px;
    text-align: center;
  }
  main input::placeholder {
    font-size: 15px;
    font-weight: 300;
    line-height: 13.8px;
    text-align: left;
    color: rgb(147, 188, 219);
    padding-left: 10px;
    padding-top: 10px;
  }
  main textarea::placeholder {
    font-size: 15px;
    font-weight: 300;
    line-height: 13.8px;
    text-align: left;
    color: rgb(147, 188, 219);
    padding-top: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 991px) {
  main {
    font-family: "League Spartan";
  }
  main .cards {
    padding-top: 100px;
    border-left: 30px;
    border-right: 30px;
  }
  main .cards .cardTotal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  main .cards .cardTotal div {
    width: 430px;
    height: 310px;
    border-radius: 18px;
    opacity: 0px;
    background-color: #0766AD;
    color: #ECF8F9;
    position: relative;
  }
  main .cards .cardTotal div .cardImagen {
    width: 80px;
    height: 80px;
    left: 30px;
    top: 30px;
    position: absolute;
  }
  main .cards .cardTotal div h2 {
    width: 100%;
    margin-left: 5px;
    padding-top: 150px;
    font-size: 28px;
    font-weight: 700;
    line-height: 27.6px;
    text-align: left;
    margin-left: 20px;
  }
  main .cards .cardTotal div p {
    width: 90%;
    height: 95%;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-left: 20px;
  }
}
@media (min-width: 991px) {
  main .diferenciales {
    color: #E55807;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    border-left: 30px;
    border-right: 30px;
  }
  main .diferenciales div h3 {
    font-size: 55px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    width: 100%;
  }
  main .diferenciales .imgDiferenciales {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 100px;
  }
  main .diferenciales .imgDiferenciales li {
    display: flex;
    flex-direction: "";
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    list-style-type: none;
  }
  main .diferenciales .imgDiferenciales li img {
    padding: 0;
    width: 240px;
    height: auto;
  }
  main .diferenciales .imgDiferenciales li .imagenGrande {
    width: 260px;
    height: auto;
  }
}
@media (min-width: 1289px) {
  main .conocenos {
    margin: 0;
    padding: 0;
    padding-top: 200px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    background-color: #ECF8F9;
  }
  main .conocenos .textoConocenos {
    grid-area: texto;
    margin: 0;
    padding: 0;
  }
  main .conocenos .textoConocenos .texto {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .conocenos .textoConocenos .texto h2 {
    font-weight: 300;
    font-size: 20px;
    color: #E55807;
    width: 65%;
  }
  main .conocenos .textoConocenos .texto h3 {
    font-size: 55px;
    font-weight: 700;
    color: #E55807;
    width: 65%;
  }
  main .conocenos .textoConocenos .texto p {
    padding-top: 20px;
    font-size: 21px;
    font-weight: 400;
    line-height: 23px;
    color: #0766AD;
    width: 65%;
  }
  main .conocenos .textoConocenos .texto p span {
    font-size: 22;
    font-weight: 600;
  }
  main .conocenos .seccionImagenes {
    display: flex;
    gap: 15px;
    margin-right: 100px;
  }
  main .conocenos .seccionImagenes .imagenesConocenos {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  main .conocenos .seccionImagenes .imagenesConocenos img {
    width: 300px;
    height: 245px;
    border-radius: 25px 25px 35px 35px;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
  }
  main .conocenos .seccionImagenes .parteDosImagen {
    margin-right: 70px;
  }
  main .conocenos .seccionImagenes .parteDosImagen img {
    width: 300px;
    height: 510px;
    border-radius: 25px;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
  }
  .imagen:hover {
    transform: scale(1.3);
  }
  .imagenHover:hover {
    transform: scale(1.3);
  }
}
@media (min-width: 991px) {
  main .servicios {
    color: #ECF8F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #E55807 50%, #0766AD 50%);
    gap: 20px;
    border-left: 30px;
    border-right: 30px;
    padding-top: 50px;
  }
  main .servicios h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 13.8px;
    letter-spacing: 0.07em;
    text-align: center;
    padding-bottom: 5px;
  }
  main .servicios h3 {
    font-size: 55px;
    font-weight: 700;
    line-height: 65px;
    text-align: center;
  }
  main .servicios .cardsOfrecimientos {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
  }
  main .servicios .cardsOfrecimientos .cardFinal {
    width: 430px;
    height: 310px;
    border-radius: 18px;
    background-color: #ECF8F9;
    transition: all 400ms ease-out;
  }
  main .servicios .cardsOfrecimientos .cardFinal div {
    transition: all 400ms ease-out;
    will-change: transform;
  }
  main .servicios .cardsOfrecimientos .cardFinal div .imagenCard img {
    width: 430px;
    height: 180px;
    border-radius: 18px 18px 0px 0px;
    object-fit: cover;
  }
  main .servicios .cardsOfrecimientos .cardFinal div .textoCard {
    color: #E55807;
    padding-top: 10px;
    margin: 10px;
  }
  main .servicios .cardsOfrecimientos .cardFinal div .textoCard h3 {
    width: 95%;
    font-size: 24px;
    font-weight: 800;
    line-height: 27.6px;
    text-align: left;
  }
  main .servicios .cardsOfrecimientos .cardFinal div .textoCard p {
    width: 95%;
    height: 100%;
    font-size: 21px;
    font-weight: 400;
    line-height: 24.15px;
    text-align: left;
  }
  main .servicios .cardsOfrecimientos .cardFinal .textoHover {
    position: absolute;
    top: 0;
    width: 430px;
    height: 310px;
    border-radius: 18px;
    background-color: rgba(27, 115, 180, 0.8);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
    padding: 30px;
  }
  main .servicios .cardsOfrecimientos .cardFinal .textoHover li {
    color: white;
    transition: all 400ms ease-out;
  }
  main .servicios .cardsOfrecimientos .cardFinal .textoHoverDos {
    position: absolute;
    top: 0;
    width: 430px;
    height: 310px;
    border-radius: 18px;
    background-color: rgba(27, 115, 180, 0.8);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    list-style-type: none;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
  main .servicios .cardsOfrecimientos .cardFinal .textoHoverDos li {
    transition: all 400ms ease-out;
    list-style-type: none;
    display: flex;
    padding-left: 50px;
  }
  main .servicios .cardsOfrecimientos .cardFinal .textoHoverDos li a {
    color: white;
    text-decoration: none;
    justify-content: left;
  }
  main .servicios .cardsOfrecimientos .cardFinal .textoHoverDos li img {
    width: 32px;
    height: 32px;
    border-radius: 9px;
    position: absolute;
    left: 80%;
  }
  main .servicios .cardsOfrecimientos .nav {
    display: none;
  }
  main .servicios .cardsOfrecimientos .cardFinal div:hover > .textoHover {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
  }
  main .servicios .cardsOfrecimientos .cardFinal div:hover > .textoHoverDos {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
  }
}
@media (min-width: 991px) {
  main {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  main .clientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    border-left: 50px;
    border-right: 50px;
  }
  main .clientes .textoClientesUno .textoClientes {
    color: #E55807;
    font-size: 55px;
    font-weight: 700;
    line-height: 41.4px;
    text-align: center;
    width: 100%;
  }
  main .clientes .imgClientes {
    padding: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .clientes .imgClientes .fila {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  main .clientes .imgClientes .fila li {
    list-style-type: none;
  }
  main .clientes .imgClientes .fila li img {
    width: 190px;
    height: cover;
  }
  main .clientes .imgClientes .fila li .imagenClientesChicas {
    width: 170px;
    height: cover;
  }
}
@media (min-width: 991px) {
  main .diferenciales {
    color: #E55807;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    border-left: 30px;
    border-right: 30px;
  }
  main .diferenciales div h3 {
    font-size: 55px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    width: 100%;
  }
  main .diferenciales .imgDiferenciales {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 100px;
  }
  main .diferenciales .imgDiferenciales li {
    display: flex;
    flex-direction: "";
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    list-style-type: none;
  }
  main .diferenciales .imgDiferenciales li img {
    padding: 0;
    width: 240px;
    height: auto;
  }
  main .diferenciales .imgDiferenciales li .imagenGrande {
    width: 260px;
    height: auto;
  }
}
@media (min-width: 1351px) {
  main .contacto {
    display: flex;
    flex-direction: "";
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
    border-left: 30px;
    border-right: 30px;
  }
  main .contacto .cuerpoFormulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1350px;
    height: 535px;
    border-radius: 28px;
    background-color: #0766AD;
    color: #ECF8F9;
  }
  main .contacto .cuerpoFormulario .textoFormulario {
    margin-left: 30px;
  }
  main .contacto .cuerpoFormulario .textoFormulario h2 {
    width: 95%;
    font-size: 55px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
  }
  main .contacto .cuerpoFormulario .textoFormulario p {
    width: 95%;
    font-size: 21px;
    font-weight: 400;
    line-height: 23px;
  }
  main .contacto .cuerpoFormulario form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 30px;
  }
  main .contacto .cuerpoFormulario form .primeraFormulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(147, 188, 219);
    gap: 15px;
    padding-top: 20px;
  }
  main .contacto .cuerpoFormulario form .primeraFormulario input {
    width: 290px;
    height: 45px;
    border-radius: 10px;
  }
  main .contacto .cuerpoFormulario form .intermedioFormulario input {
    width: 600px;
    height: 45px;
    border-radius: 10px;
  }
  main .contacto .cuerpoFormulario form div textarea {
    width: 600px;
    height: 150px;
    border-radius: 10px;
  }
  main .contacto .cuerpoFormulario form div .button {
    width: 300px;
    height: 45px;
    border-radius: 10px;
    background-color: #E55807;
    color: #ECF8F9;
    font-size: 20px;
    font-weight: 700;
    line-height: 18.4px;
    text-align: center;
  }
  main input::placeholder {
    font-size: 15px;
    font-weight: 300;
    line-height: 13.8px;
    text-align: left;
    color: rgb(147, 188, 219);
    padding-left: 10px;
    padding-top: 10px;
  }
  main textarea::placeholder {
    font-size: 15px;
    font-weight: 300;
    line-height: 13.8px;
    text-align: left;
    color: rgb(147, 188, 219);
    padding-top: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 991px) and (max-width: 1350px) {
  main .contacto {
    display: flex;
    flex-direction: "";
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
    border-left: 30px;
    border-right: 30px;
  }
  main .contacto .cuerpoFormulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 500px;
    border-radius: 28px;
    background-color: #0766AD;
    color: #ECF8F9;
  }
  main .contacto .cuerpoFormulario .textoFormulario {
    margin-left: 20px;
  }
  main .contacto .cuerpoFormulario .textoFormulario h2 {
    width: 95%;
    font-size: 55px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    padding-bottom: 20px;
  }
  main .contacto .cuerpoFormulario .textoFormulario p {
    width: 95%;
    font-size: 21px;
    font-weight: 400;
    line-height: 23px;
  }
  main .contacto .cuerpoFormulario form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: 20px;
  }
  main .contacto .cuerpoFormulario form .primeraFormulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(147, 188, 219);
    gap: 10px;
    padding-top: 20px;
  }
  main .contacto .cuerpoFormulario form .primeraFormulario input {
    width: 245px;
    height: 40px;
    border-radius: 10px;
  }
  main .contacto .cuerpoFormulario form .intermedioFormulario input {
    width: 500px;
    height: 40px;
    border-radius: 10px;
  }
  main .contacto .cuerpoFormulario form div textarea {
    width: 500px;
    height: 150px;
    border-radius: 10px;
  }
  main .contacto .cuerpoFormulario form div .button {
    width: 250px;
    height: 45px;
    border-radius: 10px;
    background-color: #E55807;
    color: #ECF8F9;
    font-size: 20px;
    font-weight: 700;
    line-height: 18.4px;
    text-align: center;
  }
  main input::placeholder {
    font-size: 15px;
    font-weight: 300;
    line-height: 13.8px;
    text-align: left;
    color: rgb(147, 188, 219);
    padding-left: 10px;
    padding-top: 10px;
  }
  main textarea::placeholder {
    font-size: 15px;
    font-weight: 300;
    line-height: 13.8px;
    text-align: left;
    color: rgb(147, 188, 219);
    padding-top: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 991px) and (max-width: 1288px) {
  main .conocenos {
    margin: 0;
    padding: 0;
    padding-top: 200px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0;
    background-color: #ECF8F9;
  }
  main .conocenos .textoConocenos {
    grid-area: texto;
    margin: 0;
    padding: 0;
  }
  main .conocenos .textoConocenos .texto {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .conocenos .textoConocenos .texto h2 {
    font-weight: 300;
    font-size: 20px;
    color: #E55807;
    width: 70%;
  }
  main .conocenos .textoConocenos .texto h3 {
    font-size: 55px;
    font-weight: 700;
    color: #E55807;
    width: 70%;
  }
  main .conocenos .textoConocenos .texto p {
    padding-top: 20px;
    font-size: 21px;
    font-weight: 400;
    line-height: 23px;
    color: #0766AD;
    width: 70%;
  }
  main .conocenos .textoConocenos .texto p span {
    font-size: 22;
    font-weight: 600;
  }
  main .conocenos .seccionImagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  main .conocenos .seccionImagenes .imagenesConocenos {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  main .conocenos .seccionImagenes .imagenesConocenos img {
    width: 300px;
    height: 245px;
    border-radius: 25px 25px 35px 35px;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
  }
  main .parteDosImagen img {
    width: 300px;
    height: 510px;
    border-radius: 25px;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
  }
}
.imagen:hover {
  transform: scale(1.3);
}

.imagenHover:hover {
  transform: scale(1.3);
}

/*# sourceMappingURL=style.css.map */
