@media (max-width:1024px) {
    main {
        .contacto {
            .cuerpoFormulario {
                width: 98%;
                div {
                    margin-left: 10px;
                    h2 {
                        padding: 0;
                        line-height: 43px;
                    }

                    p {
                        padding: 0;
                    }
                }

                form {
                    padding: 0;
                    margin-right: 10px;
                    .primeraFormulario {
                        input {
                        }
                        .phone{
                            
                        }
                    }


                    .intermedioFormulario {
                        input {
                        }
                    }

                    div {
                        textarea {
                        }
                    }

                    div {
                        button {
                        }
                    }
                }

            }


        }

        input::placeholder {}

        textarea::placeholder {}
    }
}