.clientes {
    div{
        text-align: center;
        h2 {
                width: 619px;
                height: 46px;
                top: 50%;
                left: 50%;
                font-weight: 700;
                font-size: 50px;
                text-align: center;
                color: nth($list: $colores , $n: 3);
                display: inline;
            }
    }


    .imgClientes {
        @include flex(column, center, center);
        padding-top: 100px;
        .fila {
            display: flex;

            li {
                list-style: none;
                padding-left: 20px;

                img {
                    padding-left: 30px;
                    width: 200px;
                    height: cover;
                    top: 3274px;
                    left: 114px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
} 
.imagenTele{
height:65;
padding-top: 30px;
}  

.imagenVersat{
height: 100px;
}