.diferenciales {
    justify-content: center;
    padding-top: 200px;

    div {
        text-align: center;

        h3 {
            display: inline;
            color: nth($list: $colores, $n: 3);
            width: 485px;
            height: 46px;
            top: 1126px;
            left: 478px;
            font-size: 50px;
            font-weight: 700;
            line-height: 46px;
        }
    }

    ul {
        @include flex(row, space-evenly, center);
        padding-top: 100px;

        li {
            list-style-type: none;

            img {
                width: 300px;
                height: auto;
                top: 1229px;
                left: 129px;
                background-size: cover;
                background-position: center;
            }
        }
    }
}