@media (min-width:991px) {
    main {
        font-family: "League Spartan";
        .cards {
            padding-top: 100px;
            .cardTotal {
                display: flex;
                flex-wrap:wrap ;
                justify-content: center;
                align-items: center;
                gap: 50px;
                div {
                    width: 430px;
                    height: 310px;
                    border-radius: 18px;
                    opacity: 0px;
                    background-color: nth($list: $colores , $n: 1);
                    color: nth($list: $colores , $n: 2);
                    position: relative;
                    .cardImagen {
                        width: 80px;
                        height: 80px;
                        left: 30px;
                        top: 30px;
                        position: absolute;
                    }

                    h2 {
                        width: 100%;
                        margin-left: 5px;
                        padding-top: 150px;
                        font-size: 28px;
                        font-weight: 700;
                        line-height: 27.6px;
                        text-align: left;
                        margin-left: 20px;
                    }

                    p {
                        width: 90%;
                        height: 95%;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 28px;
                        text-align: left;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}