@media (min-width:991px) {
    main {
        .clientes {
            @include flex(column, center, center);
            padding-top: 50px;

            .textoClientesUno {
                .textoClientes {
                    color: nth($list: $colores , $n: 3);
                    font-size: 70px;
                    font-weight: 800;
                    line-height: 41.4px;
                    text-align: center;
                    width: 100%;
                }
            }

            .imgClientes {
                padding: 0;
                padding-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                .fila {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 70px;
                    li {
                        list-style-type: none;
                        img {
                            width: 250px;
                            height: cover;
                        }
                        .imagenClientesChicas{
                            width: 230px;
                            height: cover;
                        }
                    }
                }
            }
        }
    }
}