@media (min-width:991px) {
    main {
        font-family: "League Spartan";

        .servicios {
            color: nth($list: $colores , $n: 2);
            @include flex(column, center, center);
            background: linear-gradient(to bottom right, nth($list: $colores , $n: 3) 50%, nth($list: $colores , $n: 1) 50%);
            padding-top: 50px;
            padding-bottom: 50px;
            gap: 10px;
            h2 {
                font-size: 22px;
                font-weight: 400;
                line-height: 13.8px;
                letter-spacing: 0.07em;
                text-align: center;
                padding-bottom: 5px;

            }

            h3 {
                font-size: 70px;
                font-weight: 700;
                line-height: 65px;
                text-align: center;

            }

            .cardsOfrecimientos {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 30px;
                padding-top: 50px;
                padding-bottom: 50px;
                .cardFinal {
                    width: 360px;
                    height: 380px;
                    border-radius: 18px;
                    background-color: nth($list: $colores , $n: 2);

                    div {
                        .imagenCard {
                            img {
                                width: 360px;
                                height: 180px;
                                border-radius: 18px 18px 0px 0px;
                                object-fit:cover;

                            }
                        }

                        .textoCard {
                            color: nth($list:$colores , $n: 3);
                            padding-top: 10px;
                            margin: 10px;
                            h3 {
                                width: 95%;
                                font-size: 28px;
                                font-weight: 800;
                                line-height: 27.6px;
                                text-align: left;
                            }

                            p {
                                width: 95%;
                                height: 100%;
                                font-size: 24px;
                                font-weight: 400;
                                line-height: 24.15px;
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
}
