@media (max-width:767px) {
    main {
        .contacto {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 100px;
            padding-top: 50px;
            .cuerpoFormulario {
                @include flex(column, center, center);
                width: 90%;
                height: 665px;
                border-radius: 28px;
                background-color: nth($list: $colores , $n: 1);
                color: nth($list: $colores , $n: 2);

                .textoFormulario {
                    width: 95%;

                    h2 {
                        width: 95%;
                        font-size: 45px;
                        font-weight: 700;
                        line-height: 41.4px;
                        text-align: left;

                    }

                    p {
                        width: 95%;
                        top: 5965px;
                        left: 35px;
                    }
                }

                form {
                    @include flex(column, center, center);
                    gap: 10px;
                    width: 100%;
                    .primeraFormulario {
                        @include flex(column, center, center);
                        color: nth($list: $colores , $n: 5);
                        gap: 10px;
                        width: 100%;
                        input {
                            width: 90%;
                            height: 43px;
                            border-radius: 10px;
                        }
                        .phone {}
                    }
                    .intermedioFormulario {
                        @include flex(column, center, center);
                        width: 100%;
                        input {
                            width: 90%;
                            height: 43px;
                            border-radius: 10px;
                        }
                    }

                    div {
                        @include flex(column, center, center);
                        width: 100%;
                        textarea {
                            width: 90%;
                            height: 144px;
                            border-radius: 10px;
                        }
                    }

                    div {
                        width: 100%;
                        .button {
                            width: 80%;
                            height: 43px;
                            border-radius: 10px;
                            background-color: nth($list: $colores , $n: 3);
                            color: nth($list: $colores , $n: 2);
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 18.4px;
                            text-align: center;
                        }
                    }
                }

            }


        }

        input::placeholder {
            font-size: 16px;
            font-weight: 400;
            line-height: 13.8px;
            text-align: left;
            color: nth($list: $colores , $n: 5);
            padding-left: 10px;
        }
        
        textarea::placeholder {
            font-size: 17px;
            font-weight: 400;
            line-height: 13.8px;
            text-align: left;
            color: nth($list: $colores , $n: 5);
            padding-top: 10px;
            padding-left: 10px;
        }
    }
}