@media (max-width:768px) {
    main {
        .clientes {
            padding: 0;
            padding-top: 80px;
            .textoClientesUno{
                .textoClientes {}
            }

            .imgClientes {
                padding: 0;
                padding-top: 30px;
                .fila {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    li {
                        img {
                            padding:15px;
                            width: 200px;
                            height: cover;
                        }
                    }
                }
            }
        }
    }
}