@media (max-width:768px) {
    main {
        .diferenciales {
            justify-content: center;
            padding: 0;
            padding-top: 80px;

            div {
                h3 {}
            }

            .imgDiferenciales {
                padding: 0;
                display:flex;
                flex-direction: row;
                flex-wrap:wrap;
                justify-content: center;
                align-items: center;
                gap:20px;
                padding-top: 20px;
                li {
                    padding: 0;
                    padding-top: 35px;
                    img {
                        width: 300px;
                        height: auto;
                    }
                }
            }
            .imagenCentral {
            
            }
        }
    }
}