@media (max-width:768px) {
    main {
        font-family: "League Spartan";
        .servicios {
            color: nth($list: $colores , $n: 2);
            @include flex(column, center, center);
            background: linear-gradient(to bottom right, nth($list: $colores , $n: 3) 50%, nth($list: $colores , $n: 1) 50%);

            h2 {

            }

                h3 {
                    text-align: center;
                }

                .cardsOfrecimientos {
                    .ofrecimientosUno {
                        @include flex(column, center, center);
                        .cardFinal {
                            div {
                                img {}

                                div {
                                    h3 {}

                                    p {}
                                }
                            }
                        }
                    }

                    .ofrecimientosDos {
                        @include flex(column, center, center);
                        padding-top: 30px;
                        .cardFinal {
                            div {
                                img {}

                                div {
                                    h3 {}

                                    p {}
                                }
                            }
                        }
                    }
                }
        }

        .certificacion {
            div {
                img {}

                div {
                    h3 {}

                    p {}
                }
            }
        }

        .hover:hover {
            opacity: 1;
            transition: transform 0.3s, opacity 0.3s;
        }

        #hoverUno:hover {
            background-image: url(none);
            cursor: pointer;
        }

        .hoverDos:hover {
            opacity: 1;
            transition: transform 0.3s, opacity 0.3s;
        }

        #hoverDos:hover {
            background-image: url(none);
            cursor: pointer;
        }
    }
}