footer {
    background-color: nth($list: $colores , $n: 4);
    height: 166px;

    img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 169px;
        height: 38px;
        top: 4355px;
        left: 637px;
        gap: 0px;
        opacity: 0px;
    }

    div {

        ul {
            @include flex(row, center, center);
            li {}
        }
    }
}