@media (max-width:1024px) {
    header {
        nav {
            div {
                
                a {
                    padding: 0;
                    img {}
                }

                button {
                    .menu-ham {}
                }

                .menu {
                    ul {
                        .nav-item {
                            padding: 0;
                            display: flex;
                            align-items: center;
                            a {
                            }
                        }
                    }
                }
            }
        }
    }
}